# .NET Core .gitignore

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
obj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
orleans.codegen.cs

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Tye
.tye/

# User-specific files
*.rsuser

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Local development secrets
appsettings.Local.json
*.local.json

# SQLite DB files
*.db
*.db-shm
*.db-wal
